.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#forms{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 20px; */
  padding: 2em 0 0 2em;
}
span{
  color: red;
}

/* Nav.css */
#Nav-bar {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#Nav-bar a {
  color: #dde0e8;
  text-decoration: none;
  margin-right: 20px;
}

#Nav-bar a:hover {
  text-decoration: underline;
}
/* Home.css */
.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.Home h2 {
  font-size: 24px;
  margin: 0;
  padding: 10px 0;
}

.Home p {
  font-size: 18px;
  margin: 0;
  padding: 10px 0;
}

.Home img {
  max-width: 70%;
  height: auto;
  margin-top: 10px;

}
/* IncomeForm.css */
.income-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.income-form form {
  width: 100%; /* Adjust as needed */
  max-width: 400px; /* Adjust as needed */
}

.income-form form input[type="text"],
.income-form form input[type="number"],
.income-form form input[type="date"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.income-form form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.income-form ul {
  list-style: none;
  padding: 0;
}

.income-form li p {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.income-form li button {
  background-color: #f00;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
/* TargetForm.css */
.target-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.target-form form {
  width: 100%;
  max-width: 400px;
}

.target-form form input[type="number"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.target-form form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.target-form div p {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.target-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

/* TransferForm.css */
.transfer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.transfer-form form {
  width: 100%;
  max-width: 400px;
}

.transfer-form form input[type="number"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.transfer-form form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.transfer-form form div p {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.transfer-form form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

#delete-btn{
  margin-left: 1em;
}
